/* removes all styling from the link  */
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: black;
}
.app {
  height: 100vh;
}

.app-router-wrapper {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

.second-row {
  overflow-y: scroll;
  background-color: #dfdce3;
  height: 100vh;
}

.sticky {
  background-color: #dfdce3;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #dfdce3;
}

.main-body {
  background-color: #dfdce3;
}

.article-list {
  margin-top: 3.5%;
}

.social-svg {
  height: 10%;
  width: 10%;
}
