/* removes all styling from the link  */
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: black;
}
.app {
  height: 100vh;
}

.app-router-wrapper {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

.second-row {
  overflow-y: scroll;
  background-color: #dfdce3;
  height: 100vh;
}

.sticky {
  background-color: #dfdce3;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #dfdce3;
}

.main-body {
  background-color: #dfdce3;
}

.article-list {
  margin-top: 0%;
}

.social-svg {
  height: 10%;
  width: 10%;
}

.sort {
  margin: 0%;
  margin-top: 2%;
  margin-left: 0%;
  float: left;
}

.button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.title {
  justify-content: left;
}

.top-card-body {
  background-color: #f8f9fa;
}

.create-post-button {
  background-color: primary;
}
