.layout {
  background-color: #f8f9fa;
  margin-top: 5%;
  padding: 15%;
  border-radius: 5%;
}

.linkedin {
  margin-left: 30%;
}

.instagram {
  margin-left: 10%;
}

.github {
  margin-left: 10%;
}
